$dark-gray: #5A6069;
$orange: #E46643;
$light-orange: #F39765;

.h2 {
    display: none;
}

.h3 {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-left: 24px;

    color: white;
    font-family: 'Roboto';
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    > span {
        outline: none;

        min-width: 12px;
        max-width: 60vw;
        padding: 4px;
        box-sizing: border-box;
        border-radius: 4px;

        overflow-x: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    > span:hover {
        background-color: $dark-gray;
    }

    > span:focus {
        background-color: inherit;
    }

    > svg {
        margin-right: 16px;
    }
}

.right {
    position: absolute;
    right: 8px;
    display: flex;
    align-items: center;

    > svg {
        margin-right: 24px;
        padding: 8px;
        border-radius: 4px;

    }

    > svg:hover {
        background-color: $dark-gray;
    }

    button {
        box-sizing: border-box;
        height: 40px;
        min-width: 40px;
        width: auto;

        display: flex;
        align-items: center;
        justify-content: center;

        transition-duration: .1s;

        border: none;
        outline: none;
        border-radius: 4px;

        background-color: $orange;

        span {
            display: none;

            color: white;
            font-family: 'Roboto';
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }

    button:hover {
        background-color: $light-orange;
    }
}

@media only screen and (min-width: 1024px) {
    .h2 {
        display: block;
        
        color: white;
        font-family: 'Commissioner';
        font-size: 15px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 5px;
        box-sizing: border-box;
        padding: 5px 29px 5px 24px;
        border-right: 1px solid $dark-gray;
    }

    .right button {
        padding: 0 16px;

        span {
            display: block;
        }
    }
}