$dark-gray: #5A6069;

.h2 {
    display: none;
}

.h3 {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-left: 24px;

    color: white;
    font-family: 'Roboto';
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    > svg {
        margin-right: 16px;
    }
}

@media only screen and (min-width: 1024px) {
    .h2 {
        display: block;
        
        color: white;
        font-family: 'Commissioner';
        font-size: 15px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 5px;
        box-sizing: border-box;
        padding: 5px 29px 5px 24px;
        border-right: 1px solid $dark-gray;
    }
}