$extremely-light-gray: #F5F5F5;
$very-light-gray: #E4E4E4;
$light-gray: #C1C4CB;
$gray: #7C8187;
$dark-gray: #5A6069;
$very-dark-gray: #35393F;
$extremely-dark-gray: #2B2D31;
$light-black: #1D1F22;
$black: #151619;
$orange: #E46643;

.dark {
    scrollbar-color: $light-black;

    ::-webkit-scrollbar {
        background: $light-black;
        height: 100%;
    }

    ::-webkit-scrollbar-thumb {
        background: $very-dark-gray;
    }

    > div {
        background-color: $light-black;
        color: $light-gray;
    }

    textarea {
        background-color: $black;
        color: $light-gray;
    }

    .preview {
        background-color: $black;

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            color: white;

            a {
                color: white;
            }
        }

        p,
        ul > li,
        ol > li {
            color: $light-gray;

            a {
                color: $light-gray;
            }
        }

        code {
            color: white;
        }

        blockquote,
        pre {
            background-color: $extremely-dark-gray;
            p,
            a,
            code {
                color: white;
            }
        }
    }
}

.header {
    background-color: $extremely-light-gray;

    h2 {
        padding: 12px 16px;
        margin: 0;
    }
}

.h2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button {
    border: none;
    background: none;
}

.sharing button {
    display: none;
}

.input {
    resize: none;
    color: $very-dark-gray;
    width: 100%;
    flex-grow: 1;
    overflow-y: auto;

    overflow-wrap: break-word;

    padding: 9px 16px 9px 16px;
    box-sizing: border-box;

    font-family: "Roboto Mono";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;

    border: none;
    border-radius: 0;
    outline: none;
}

//Preview element margins

.preview {
    > * {
        margin: 0;
    }

    > * + * {
        margin-block-start: 20px;
    }

    > * + h1 {
        margin-block-start: 22px;
    }

    > ol > li + li,
    > ul > li + li {
        margin-block-start: 4px;
    }
}

//Preview element other styles
.preview {
    font-family: 'Roboto Slab';
    color: $very-dark-gray;
    width: 100%;
    flex-grow: 1;

    overflow-y: auto;
    padding: 9px 16px 9px 16px;
    box-sizing: border-box;


    h1 {
        font-family: 'Roboto Slab';
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    h2 {
        font-size: 28px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
    }

    h3 {
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    h4 {
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    h5 {
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    h6 {
        color: $orange;

        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    a {
        color: $very-dark-gray;
    }

    p {
        color: $gray;
        
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
    }

    ol {
        li {
            color: $gray;

            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
        }
    }

    ul {
        list-style: none;

        li::before {
            content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
            color: $orange;
            font-weight: bold;
            display: inline-block;
            width: 1em;
            margin-left: -1em;
        }

        li {
            color: $gray;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
        }
    }

    blockquote {
        padding: 24px;

        background-color: $extremely-light-gray;
        

        border-left: 4px solid $orange;
        border-radius: 4px;
        p {
            color: $very-dark-gray;
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: 24px;
        }
    }

    code {
        font-family: 'Roboto Mono';
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
    }

    pre {
        padding: 24px;
        box-sizing: border-box;

        max-width: 100%;

        border-radius: 4px;
        background-color: $very-light-gray;

        overflow-x: auto;
    }
}

.section {
    box-sizing: border-box;
    height: 100%;

    display: flex;
    flex-direction: column;
}

.sharing,
.hidden {
    display: none;
}

@media only screen and (min-width: 768px) {
    .sharing {
        display: flex;
    }

    .sharing,
    .section:has(.preview) {
        width: 50%;
    }

    .section + .section {
        border-left: 1px solid $very-light-gray;
    }

    .section.dark + .section.dark {
        border-left: 1px solid $dark-gray;
    }
}